@font-face {
    font-family: CrimsonText;
    src: url('/fonts/CrimsonText-Regular.ttf');
}

* {
    font-family: CrimsonText !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

html {
    scroll-behavior: smooth !important;
}

body {
    border: none !important;
    margin: 0 !important;
    scroll-behavior: smooth !important;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
    padding: 0 !important;
    margin: 0 !important;
}