@font-face {
  font-family: 'PP Hatton';
  src: url('../fonts/PP-Hatton-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('../fonts/PP-Hatton-Medium.otf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('../fonts/PP-Hatton-Ultralight.otf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap') format('truetype');
  font-weight: medium;
  font-style: normal;
}