@font-face {
  font-family: 'PP Hatton';
  src: url('../fonts/PP-Hatton-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('../fonts/PP-Hatton-Medium.otf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'PP Hatton';
  src: url('../fonts/PP-Hatton-Ultralight.otf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
  